body{
    font-family: 'Young Serif', serif;
}
.container{
    background-color:;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 830px;
}
img{
    width: 300px;
    float: left;
}
{}
.header{
    margin-bottom: 60px;
}